<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serving static files</title>
</head>
<body>
    <h1>Chashak serving</h1>
    <p>Download the SQL template here: <a href="/static/sql.pdf">Download</a></p>
    <p>Download the  python template here: <a href="/static/python.pdf">Download</a></p>
    <p>Download the  ml template here: <a href="/static/ml.pdf">Download</a></p>
    

    
</body>
</html>