<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serving static files</title>
</head>
<body>
    <h1>Chashak serving</h1>
    <p>Download the SQL template here: <a href="/static/sql.pdf">Download</a></p>
    <p>Download the  python template here: <a href="/static/python.pdf">Download</a></p>
    <p>Download the  ml template here: <a href="/static/ml.pdf">Download</a></p>
    <p>Download the  probability template here: <a href="/static/probability.pdf">Download</a></p>
    <p>Download the  data_scraping template here: <a href="/static/data_scraping.pdf">Download</a></p>
    <p>Download the  dl_and_NN template here: <a href="/static/dl_and_NN.pdf">Download</a></p>
    <p>Download the  git template here: <a href="/static/git.pdf">Download</a></p>
    <p>Download the  llm template here: <a href="/static/llm.pdf">Download</a></p>
    <p>Download the  cod internship template here: <a href="/static/cod internship.pdf">Download</a></p>
    <p>Download the  conda template here: <a href="/static/conda.pdf">Download</a></p>
    <p>Download the  DS intro template here: <a href="/static/DS intro.pdf">Download</a></p>
    <p>Download the  DA numpy template here: <a href="/static/DA numpy.pdf">Download</a></p>
    <p>Download the  DA pandas template here: <a href="/static/DA pandas.pdf">Download</a></p>

    
</body>
</html>